<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5">
      <div class="card-header">
        <h2>Resend confirmation instructions</h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: "brn btn-primary" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
