<div class="row mt-5" id="previewQuestion">
  <div class="col-md-7">
    <%= form_for :user_response, url: :collect_user_response_tests, html: {id: "preview-form"}, method: :post do |f| %>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center"><%= @test.name %></h5>
        </div>
        <div class="card-body">
          <ul>
            <% if params[:submission_id].present? %>
              <%= f.hidden_field :submission_id, value: params[:submission_id]%>
            <% end %>
            <%= f.hidden_field :test_id, value: @test.id %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <li class="preview-list"><label class="ques-font"><%= @test_questions.first.question %></li></label>
            <% @test_questions.first.choices.each do |choice| %>
              <div class="form-group">
                <%= f.radio_button @test_questions.first.question, choice.name %>
                <%= f.label choice.name %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mt-3 mb-3">
        <%= link_to "Previous", previous_path(id: @test.id, question_id: @test.questions.first.id), remote: true, class: "btn btn-primary disabled" if @test.questions.first %>
        <%= link_to "Next", next_path(id: @test.id, question_id: @test.questions.first.id), remote: true, class: "btn btn-primary float-right" %>
      </div>
      <div class="row">
        <%= link_to "Save & Next", "", data: {user_response: '#{params[:user_response]}'} , class: "btn btn-success save-btn", remote: true, id: "saveBtn" %>
      </div>
    <% end %>
  </div>
  <%= render 'status'%>
</div>

<script type="text/javascript">
  $("#saveBtn").on('click', function() {
    user_response = $(this).data('user_response')
    $.ajax({
      url: '/tests/collect_user_response',
      method: "POST",
      data: {user_response: user_response}
    })
  });
</script>

<style type="text/css">
  label {
    display: inline-table;
  }
  .card-body {
    counter-reset: my-sec-counter;
  }
  .table-td::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
  }
</style>
